<!DOCTYPE html>
<html ng-app="contest">
<head>
	<title>Voting!</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
	<script type="text/javascript" src="../js/contest.js"></script>
	<script type="text/javascript" src="../js/contestFactory.js"></script></head>
<body ng-controller="contestHandler">
	<button ng-click="nextRound()">Next Round!</button>

	<div ng-repeat="contest in contests">
		<div style="display: inline-block">
			<h4>{{contest.subOne.title}}</h4>
			<iframe width="250" height="145" src="{{verifyVid(contest.subOne.url)}}" frameborder="0" allowfullscreen></iframe>
			<br>
			<button ng-click="voteFor(contest.votes, '1')">Vote for me!</button>
			<span>Votes: {{contest.votes['1']}}</span>
		</div>
		<h3 style="display: inline-block">VS</h3>
		<div style="display: inline-block" ng-show="contest.subTwo">
			<h4>{{contest.subTwo.title}}</h4>
			<iframe width="250" height="145" src="{{verifyVid(contest.subTwo.url)}}" frameborder="0" allowfullscreen></iframe>
			<br>
			<button ng-click="voteFor(contest.votes, '2')">Vote for me!</button>
			<span>Votes: {{contest.votes['2']}}</span>
		</div>
	</div>

</body>
</html>